/**
 * Content Layout Control for the WordPress Customizer
 *
 * Styles for the base control and slide-out selection list. Components
 * enqueue their own styles.
 *
 * @since 0.1
 */
#clc-component-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -301px;
	width: 300px;
	overflow-y: scroll;
	background: #fff;
	transition: left .18s;
	z-index: 1;
}

.clc-list-open {

	#customize-preview {
		opacity: 0.4;
	}

	.wp-full-overlay-main {
		left: 300px;
	}

	#clc-component-list {
		left: 0;
	}
}
